.form__container {
  width: 400px;
  padding: 10px 20px;
  background-color: var(--first-color);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login_variant__container {
  margin: 15px 0;
  position: relative;
}

.login_variant__delimiter_container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
}

.login_variant__delimiter {
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--second-light-color);
}

.login_variant__header_container {
  position: relative;
  display: flex;
  justify-content: center;
}

.login_variant__header_text {
  background-color: var(--first-color);
  padding: 0 7px;
  color: #fff;
}

.social_container {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.form_question {
  display: flex;
  gap: 2px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--second-light-color);
  margin-top: 10px;
}

.form__toggle_login {
  text-decoration: underline;
  cursor: pointer;
  color: var(--text-color-secondary);
}

.form__toggle_login:hover {
  color: var(--text-color-main);
}
